/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/
body
{
    font-family:  cursive, Cambria, 'Malgun Gothic', math, Candara;
	color: #D8EAD7;
    background-color: #685056;
	width: 750px;
	margin: 0 auto;
}

header, footer, nav
{
    color: #FFFBD6;
	text-align: center;
}

h1, h2, h3
{
	color: #D8EAD7;
    font-family: fangsong, monospace, 'Malgun Gothic', cursive, emoji;
	text-align: center;
	line-height: 10px;
}

table tr:nth-child(even) {
	background-color: rgb(146, 146, 146);
	color: #fff; 
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: rgb(233, 59, 74);
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: rgb(250, 145, 215);
}
