body
{
	font-family:  cursive, Cambria, 'Malgun Gothic', math, Candara;
	color: #c0c0c0;
	background-color: #685056;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
    color: #FFFBD6;
	text-align: center;
}

.submit_button{
	background:#787878;
    color:white;
    height:50px;
    width:100px;
    font-size:15px;
}

.try_calculator{
	background:#352f2f;
    color:white;
    height:50px;
    width:100px;
    font-size:15px;
}

table{
	text-align: left;
	border-collapse: collapse;
	margin: 20px;
}

thead
{
	background-color: rgb(233, 59, 74);
	color:rgba(0, 0, 0); 
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: rgb(250, 145, 215);
	color:rgba(0, 0, 0); 
}

tbody tr:nth-child(even) td 
{
	background-color: rgb(146, 146, 146);
	color: #fff; 
}

.input{
	background-color: #a8a6a6;
	color: white;
	font-size:15px;
	font-family:  cursive, Cambria, 'Malgun Gothic';
	text-align: center; 
}

h1
{
	color: #D8EAD7;
    font-family: fangsong, monospace, 'Malgun Gothic', cursive, emoji;
	text-align: center;
	line-height: 10px;
}

h2, h3
{
	color: #D8EAD7;
    font-family: fangsong, monospace, 'Malgun Gothic', cursive, emoji;
	text-align: left;
	line-height: 10px;
}

a
{
	text-decoration: none;
	color: #FFFBD6;
	font-weight: bold;
}

a:hover
{
	text-decoration: overline underline;
	color: purple;
}

figure
{
	text-align: center;  
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height: auto;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

button 
{
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

html 
{
	box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus 
{
  outline: none;
}

.container 
{
	max-width: 40em;
}

.calculator 
{
	border-radius: 8px;
	box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 25em;
	overflow: hidden;
}

.calculator__display 
{
	background-color: #222222;
	color: #fff;
	font-size: 2em;
	padding: 0.5em 0.75em;
	text-align: right;
}
  

.calculator__keys{
	background-image: linear-gradient(to bottom, rgb(63, 52, 52), rgb(65, 54, 54));
  	display: grid;
  	grid-gap: 0.75px;
  	grid-template-columns: repeat(4, 1fr);
}
  
.calculator__keys > * {
	background-image: linear-gradient(to bottom, #fe9090, #ff5c5c);
	padding: 0.5em 1.25em;
	position: relative;
	text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
	background-image: linear-gradient(to bottom, #dbd8d8,rgb(199, 199, 199));
}
  
.key--equal {
	background-image: linear-gradient(to bottom, #fe886a, #ff7033);
	grid-column: -2;
	grid-row: 2 / span 4;
}
  
  