body
{
	font-family:  cursive, Cambria, 'Malgun Gothic', math, Candara;
	color: #c0c0c0;
	background-color: #685056;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
    color: #FFFBD6;
	text-align: center;
}

h1
{
	color: #D8EAD7;
    font-family: fangsong, monospace, 'Malgun Gothic', cursive, emoji;
	text-align: center;
	line-height: 10px;
}

h2, h3
{
	color: #D8EAD7;
    font-family: fangsong, monospace, 'Malgun Gothic', cursive, emoji;
	text-align: left;
	line-height: 10px;
}

a
{
	text-decoration: none;
	color: #FFFBD6;
	font-weight: bold;
}

a:hover
{
	text-decoration: overline underline;
	color: purple;
}

nav
{
	text-align: center;
}