/* background image */
html {
  width: 100%;
  height: auto;
  background-image: url("images/Candle-Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* top heading */
header,
h2 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 40px;
  padding-top: 10px;
}

caption{
  font-size: 30px;
}

/* font size */
body {
  font-size: 16px;
  text-align: center;
}

/* table format*/
table{
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
  width: 100%;  
}
td, 
th {
  border: 1px solid black;
  padding: 8px;
  background-color:#262626;
  color:powderblue;
  text-align: left;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color:#262626;
  color:#e9f5cc;
}

table.center {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* form */
form {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color:black;
}

.tableImg{
  max-width: 30%;
  height: 5%;
}

.validImg{
  width: 45%;
  height: 35%;
}

.submit{
  background-color: rgb(31, 1, 70);
  color:#F5CCE6; 
}

/* footer bottom of page*/
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 70px;
}

abbr {
  text-decoration: none;
}

/* whitespace */
.whitespace {
  padding: 10px;
}

.whitespace2 {
  padding: 60px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


